.container{
    width: 700px;
    margin: 0 auto;
    background-color:white;
}
.input1 {
    padding: 20px;
}
.input1 input {
    padding: 15px 60px 15px 15px;
    outline: none;
    width: 89%;
    border-bottom: 1px solid #ededed;
    background: #dddddd;
    border: none;
    font-size: 15px;
}
::placeholder {
    color: grey;
 
  }
.input1 button{
    padding: 10px;
   
    outline: none;
    cursor: pointer;
    border: none;
    border: 1px solid #ededed;
    line-height: 1.5em;
   
    font-size: 17px;
    
}
h1{
    text-align: center;
}

.input1 button:hover{
    background-color: chartreuse;
}