.container{
    width: 700px;
    margin: 0 auto;
    background-color:white;
}

.input {
    padding: 20px;
}
.input input {
    padding: 15px 60px 15px 15px;
    outline: none;
    width: 89%;
    border-bottom: 1px solid #ededed;
    background: rgba(0, 0, 0, 0.03);
    border: none;
    font-size: 17px;
}
::placeholder {
    color: grey;
 
  }
.input button{
    padding: 10px;
   
    outline: none;
    cursor: pointer;
    border: none;
    border: 1px solid #ededed;
    line-height: 1.5em;
   
    font-size: 17px;
    
}
.input button:hover{
    background-color: red;
    color: white;
}